<!DOCTYPE html>
<html>
  <head>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous"></script>
      <script src='/assets/js/application.js'></script>
  </head>
  <body>
    <div id='chat-text'>
      Handle: <input type='text' id='input-handle'></input>
      Message: <input type='text' id='input-text'></input>
      <button id='submit'>Submit</button>
    </div>
  </body>
</html>
